<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TTMb - Totally Tubular Message board - New message</title>
  </head>
  <body>
    <form method="POST" action="/new">
      <h2>New message</h2>
      <textarea name="message" id=""></textarea>
      <input type="text" name="user" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
