<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TTMb - Totally Tubular Message board</title>
  </head>
  <body>
    <%- include('messages', {rows}) %>
  </body>
</html>
