<ul class="messageContainer">
  <% rows.forEach(message => { %>

  <li class="message">
    <div class="meta">
      <span><%=message.message_user%></span>
      <span><%=message.date%></span>
    </div>
    <p class="messageText"><%= message.message_text %></p>
  </li>
  <% }) %>
</ul>
